@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #B3D1BE;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #FFE0D4;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #FFD398;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
.content {
	background: #F5DCBC;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FFD398;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #614737;
}
a:visited {
     color: #96C7BE;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
